<footer class="footer">
  <div class="content has-text-centered">
    <p>&copy <span id="current-year"></span> <a href="https://github.com/rtasalem">Rana Salem</a>. <strong>Draft My CV</strong>. The source code is licensed under <a href="https://opensource.org/license/mit">MIT</a>.</p>
  </div>
</footer>

<script>
  document.getElementById('current-year').textContent = new Date().getFullYear();
</script>