<footer class="footer">
  <div class="content has-text-centered">
    <p>&copy <span id="current-year"></span> <a href="http://ranasalem.io/">Rana Salem</a>. <strong>Draft My CV</strong>. Source code licensed under <a href="https://opensource.org/license/mit">MIT</a>.</p>
  </div>
</footer>

<script src="../../utils/update-current-year.js"></script>