<footer class="footer">
  <div class="content has-text-centered">
    <p>&copy <span id="current-year"></span> <a href="http://ranasalem.io/" target="_blank">Rana Salem</a>. 
    <strong>Draft My CV</strong>. 
    Source code licensed under <a href="https://opensource.org/license/mit" target="_blank">MIT</a>.</p>
  </div>
</footer>

<style>
  footer.footer {
    padding: 2rem 1.5rem 2rem;
  }

  footer .content {
    font-size: 0.875rem;
    line-height: 1.2;
  }
</style>

<script src="../../utils/update-current-year.js"></script>