{% set navItemsStart = [
    { title: 'About', url: '/about', pageName: 'about' }
] %}

<section class="hero is-link">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <p class="navbar-item">
            <strong>Developed by Rana Salem</strong>
          </p>
        </div>
        <div id="navbarHero" class="navbar-menu">
          <div class="navbar-start">
          {% for nav in navItemsStart %}
              {% if pageName == nav.pageName %}
              <a href="{{ nav.url }}" class="navbar-item active">
                {% else %}
                <a href="{{ nav.url }}" class="navbar-item">
                  {% endif %}
                    {{ nav.title }}
                </a>
            {% endfor %}
          </div>
          <div class="navbar-end">
            <p class="buttons">
              <button class="button is-dark">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
              </button>
              <button class="button is-dark">
                <span class="icon">
                  <i class="fa-solid fa-code"></i>
                </span>
                <span>Portfolio</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container">
      <a href="/"><p class="title">Draft My CV</p></a>
      <p class="subtitle">Create a great CV in seconds that's ready for any job application</p>
    </div>
  </div>
</section>