<footer class="footer">
  <div class="content has-text-centered">
    <p>&copy <span id="current-year"></span> <a href="http://ranasalem.io/" target="_blank">Rana Salem</a>. 
    <strong>Draft My CV</strong>. 
    <a href="https://github.com/rtasalem/draft-my-cv" target="_blank">Source code</a> is licensed under <a href="https://opensource.org/license/mit" target="_blank">MIT</a>.</p>
  </div>
</footer>

<script>
  document.getElementById('current-year').textContent = new Date().getFullYear()
</script>