<h5 class="subtitle is-4">
  <strong>Education</strong>
</h5>
<hr>

<div class="mb-5">
  <h5 class="subtitle is-5">
    <strong>Postgraduate</strong>
  </h5>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="pg-university"
            name="pgUniversity"
            type="text" 
            placeholder="University"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-graduation-cap"></i>
      </span>
    </p>

    <p class="control has-icons-left">
      <input 
            class="input" 
            id="pg-location"
            name="pgLocation"
            type="text" 
            placeholder="City or State"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-city"></i>
      </span>
    </p>
  </div>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input"
            id="pg-degree"
            name="pgDegree"
            type="text" 
            placeholder="Degree"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-scroll"></i>
      </span>
    </p>

    <p class="control has-icons-left">
      <span class="select">
        <select 
              class="graduation-year"
              id="pg-graduation-year" 
              name="pgGraduationYear"
            ></select>
      </span>
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar"></i>
      </span>
    </p>
  </div>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="pg-dissertation-title"
            name="pgDissertationTitle"
            type="text" 
            placeholder="Dissertation Title"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-pen-nib"></i>
      </span>
    </p>

    <p class="control has-icons-left">
      <input 
            class="input"
            id="pg-grade"
            name="pgGrade"
            type="text" 
            placeholder="Grade"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-star"></i>
      </span>
    </p>
  </div>
</div>

<div class="mb-5">
  <h5 class="subtitle is-5">
    <strong>Undergraduate</strong>
  </h5>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="ug-university"
            name="ugUniveristy"
            type="text" 
            placeholder="University"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-graduation-cap"></i>
      </span>
    </p>

    <p class="control has-icons-left">
      <input 
            class="input" 
            id="ug-location"
            name="ugLocation"
            type="text" 
            placeholder="Location (city or state)"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-city"></i>
      </span>
    </p>
  </div>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input"
            id="ug-degree"
            name="ugDegree"
            type="text" 
            placeholder="Degree"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-scroll"></i>
      </span>
    </p>

    <p class="control has-icons-left">
      <span class="select">
        <select 
              class="graduation-year"
              id="ug-graduation-year" 
              name="ugGraduationYear"
            ></select>
      </span>
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar"></i>
      </span>
    </p>
  </div>

  <div class="field is-grouped mb-5">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="ug-dissertation-title"
            name="ugDissertationTitle"
            type="text" 
            placeholder="Dissertation Title"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-pen-nib"></i>
      </span>
    </p>

    <p class="control has-icons-left">
      <input 
            class="input"  
            id="ug-grade"
            name="ugGrade"
            type="text" 
            placeholder="Grade"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-star"></i>
      </span>
    </p>
  </div>
</div>

<div class="mb-5">
  <h5 class="subtitle is-5">
    <strong>Study Abroad</strong>
  </h5>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input"
            id="exchange-university"
            name="exchangeUniversity" 
            type="text" 
            placeholder="University"
            >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-graduation-cap"></i>
      </span>
    </p>

    <p class="control has-icons-left">
      <input 
            class="input" 
            id="exchange-city-or-state"
            name="exchangeCityOrState"
            type="text" 
            placeholder="City or State"
            >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-city"></i>
      </span>
    </p>
  </div>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="exchange-degree-programme"
            name="exchangeDegreeProgramme"
            type="text" 
            placeholder="Degree/Programme"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-scroll"></i>
      </span>
    </p>

    <p class="control has-icons-left">
      <span class="select">
        <select 
              class="graduation-year"
              id="exchange-year" 
              name="exchangeYear"
            ></select>
      </span>
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar"></i>
      </span>
    </p>
  </div>
</div>

<div class="mb-6">
  <h5 class="subtitle is-5">
    <strong>High School</strong>
  </h5>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
          class="input" 
          id="high-school"
          name="highSchool"
          type="text" 
          placeholder="School"
        >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-graduation-cap"></i>
      </span>
    </p>

    <p class="control has-icons-left">
      <span class="select">
        <select 
            class="graduation-year"
            id="hs-graduation-year" 
            name="hsGraduationYear"
          ></select>
      </span>
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar"></i>
      </span>
    </p>
  </div>
</div>