<h5 class="subtitle is-4">
  <strong>Interests (optional)</strong>
</h5>
<hr>

<div class="field is-grouped">
  <p class="control is-expanded has-icons-left">
    <input 
          class="input" 
          id="interest-1"
          name="interest1"
          type="text" 
          placeholder="Your first interest or hobby"
        >
    <span class="icon is-small is-left">
      <i class="fa-solid fa-1"></i>
    </span>
  </p>

  <p class="control is-expanded has-icons-left">
    <input 
          class="input" 
          id="interest-2"
          name="interest2"
          type="text" 
          placeholder="Your second interest or hobby"
        >
    <span class="icon is-small is-left">
      <i class="fa-solid fa-2"></i>
    </span>
  </p>
</div>

<div class="field is-grouped">
  <p class="control is-expanded has-icons-left">
    <input 
          class="input" 
          id="interest-3"
          name="interest3"
          type="text" 
          placeholder="Your first interest or hobby"
        >
    <span class="icon is-small is-left">
      <i class="fa-solid fa-3"></i>
    </span>
  </p>

  <p class="control is-expanded has-icons-left">
    <input 
          class="input" 
          id="interest-4"
          name="interest4"
          type="text" 
          placeholder="Your second interest or hobby"
        >
    <span class="icon is-small is-left">
      <i class="fa-solid fa-4"></i>
    </span>
  </p>
</div>

<div class="field is-grouped">
  <p class="control is-expanded has-icons-left">
    <input 
          class="input" 
          id="interest-5"
          name="interest5"
          type="text" 
          placeholder="Your first interest or hobby"
        >
    <span class="icon is-small is-left">
      <i class="fa-solid fa-5"></i>
    </span>
  </p>

  <p class="control is-expanded has-icons-left">
    <input 
          class="input" 
          id="interest-6"
          name="interest6"
          type="text" 
          placeholder="Your second interest or hobby"
        >
    <span class="icon is-small is-left">
      <i class="fa-solid fa-6"></i>
    </span>
  </p>
</div>