<h5 class="subtitle is-4">
  <strong>Projects (optional)</strong>
</h5>
<hr>

<div class="mb-5">
  <h5 class="subtitle is-5">
    <strong>First Project</strong>
  </h5>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="project-title-1"
            name="projectTitle1"
            type="text" 
            placeholder="Project Title"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-code"></i>
      </span>
    </p>

    <p class="control is-expanded has-icons-left">
      <input 
            class="input is-link" 
            id="project-url-1"
            name="projectUrl1"
            type="text" 
            placeholder="URL (if applicable)"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-link"></i>
      </span>
    </p>
  </div>

  <textarea 
          class="textarea" 
          id="project-summary-1" 
          name="projectSummary1" 
          placeholder="Please provide a brief (100-200 words max.) of the project, its aims, and/or your role in it."></textarea>
</div>

<div class="mb-5">
  <h5 class="subtitle is-5">
    <strong>Second Project</strong>
  </h5>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="project-title-2"
            name="projectTitle2"
            type="text" 
            placeholder="Project Title"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-code"></i>
      </span>
    </p>

    <p class="control is-expanded has-icons-left">
      <input 
            class="input is-link" 
            id="project-url-2"
            name="projectUrl2"
            type="text" 
            placeholder="URL (if applicable)"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-link"></i>
      </span>
    </p>
  </div>

  <textarea 
          class="textarea" 
          id="project-summary-2" 
          name="projectSummary2" 
          placeholder="Please provide a brief (100-200 words max.) of the project, its aims, and/or your role in it."></textarea>
</div>

<div class="mb-5">
  <h5 class="subtitle is-5">
    <strong>Third Project</strong>
  </h5>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="project-title-3"
            name="projectTitle3"
            type="text" 
            placeholder="Project Title"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-code"></i>
      </span>
    </p>

    <p class="control is-expanded has-icons-left">
      <input 
            class="input is-link" 
            id="project-url-3"
            name="projectUrl3"
            type="text" 
            placeholder="URL (if applicable)"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-link"></i>
      </span>
    </p>
  </div>

  <textarea 
          class="textarea" 
          id="project-summary-3" 
          name="projectSummary3" 
          placeholder="Please provide a brief (100-200 words max.) of the project, its aims, and/or your role in it."></textarea>
</div>