<h5 class="subtitle is-4">
  <strong>Work Experience</strong>
</h5>
<hr>

<div class="mb-5">
  <h5 class="subtitle is-5">
    <strong>Most Recent Job Position</strong>
  </h5>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="job-title-1"
            name="jobTitle1"
            type="text" 
            placeholder="Job Title"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-briefcase"></i>
      </span>
    </p>

    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="job-company-1"
            name="jobCompany1"
            type="text" 
            placeholder="Company"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-briefcase"></i>
      </span>
    </p>
  </div>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input job-date-picker"
            id="job-start-1"   
            name="jobStart1"
            type="text" 
            placeholder="Start Date"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar"></i>
      </span>
    </p>

    <p class="control is-expanded has-icons-left">
      <input 
            class="input job-date-picker" 
            id="job-end-1"   
            name="jobEnd1"
            type="text" 
            placeholder="End Date"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar"></i>
      </span>
    </p>
  </div>

  <textarea class="textarea" id="job-summary-1" name="jobSummary1" placeholder="Please provide a brief (100-200 words max.) of the responsibilties, achievements, or statistics of your most recent job position."></textarea>
</div>

<div class="mb-5">
  <h5 class="subtitle is-5">
    <strong>Second Most Recent Job Position</strong>
  </h5>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="job-title-2"
            name="jobTitle2"
            type="text" 
            placeholder="Job Title"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-briefcase"></i>
      </span>
    </p>

    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="job-company-2"
            name="jobCompany2"
            type="text" 
            placeholder="Company"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-briefcase"></i>
      </span>
    </p>
  </div>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input job-date-picker" 
            id="job-start-2"   
            name="jobStart2"
            type="text" 
            placeholder="Start Date"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar"></i>
      </span>
    </p>

    <p class="control is-expanded has-icons-left">
      <input 
            class="input job-date-picker" 
            id="job-end-2"   
            name="jobEnd2"
            type="text" 
            placeholder="End Date"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar"></i>
      </span>
    </p>
  </div>

  <textarea class="textarea" id="job-summary-2" name="jobSummary2" placeholder="Please provide a brief (100-200 words max.) of the responsibilties, achievements, or statistics of your second most recent job position."></textarea>
</div>

<div class="mb-6">
  <h5 class="subtitle is-5">
    <strong>Third Most Recent Job Position</strong>
  </h5>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="job-title-3"
            name="jobTitle3"
            type="text" 
            placeholder="Job Title"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-briefcase"></i>
      </span>
    </p>

    <p class="control is-expanded has-icons-left">
      <input 
            class="input" 
            id="job-company-3"
            name="jobCompany3"
            type="text" 
            placeholder="Company"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-briefcase"></i>
      </span>
    </p>
  </div>

  <div class="field is-grouped">
    <p class="control is-expanded has-icons-left">
      <input 
            class="input job-date-picker" 
            id="job-start-3"   
            name="jobStart3"
            type="text" 
            placeholder="Start Date"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar"></i>
      </span>
    </p>

    <p class="control is-expanded has-icons-left">
      <input 
            class="input job-date-picker" 
            id="job-end-3"   
            name="jobEnd3"
            type="text" 
            placeholder="End Date"
          >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar"></i>
      </span>
    </p>
  </div>

  <textarea class="textarea" id="job-summary-3" name="jobSummary3" placeholder="Please provide a brief (100-200 words max.) of the responsibilties, achievements, or statistics of your third most recent job position."></textarea>
</div>