{% extends 'layout.njk' %}

{% set title = 'About' %}

{% block mainContent %}
  <div class="container is-max-widescreen">
    <h5 class="subtitle is-4"><strong>About</strong></h5>
    <hr>
    <article class="message is-medium">
      <div class="message-body">
        <strong>Draft My CV</strong> is a tool for anyone currently going through the process of 
        <strong>job hunting</strong>. I created this site as a way to quickly create a
        well-structured CV (or resume) to cut out all the hours spent trying to put together
        a perfect CV.<br><br> Simply enter your details, hit <strong>Submit</strong> and your CV will
        be ready to download as either a Word document or PDF, the most compatible formats
        for submitting alongside a job application. Job hunting is far from a fun process, so
        I hope this makes your life a little easier... Good luck!
      </div>
    </article>
  </div>
{% endblock mainContent %}