{% extends 'layout.njk' %}

{% set title = 'About' %}

{% set buttons = [
    { title: 'GitHub', url: 'https://github.com/rtasalem', icon: 'fab fa-github' },
    { title: 'Portfolio', url: 'http://ranasalem.io/', icon: 'fa-solid fa-globe' },
    { title: 'LinkedIn', url: 'https://www.linkedin.com/in/ranatasalem/', icon: 'fa-brands fa-linkedin' },
    { title: 'Email', url: 'mailto:ranatasalem@gmail.com', icon: 'fa-solid fa-envelope' }
] %}

{% block mainContent %}
  <div class="container is-max-widescreen">
    <h5 class="subtitle is-4"><strong>About the Project</strong></h5>
    <article class="message is-medium">
      <div class="message-body">
        <strong>Draft My CV</strong> is a tool for anyone currently going through the process of 
        <strong>job hunting</strong> or building their CV (a.k.a resume 🇺🇸). This project was created as a way to quickly 
        generate a well-structured CV to cut out all the hours spent trying to make the perfect draft. 
        Simply enter your details, hit <strong>Submit</strong>, and your CV will
        be ready to download as either a Word document or PDF. <strong>Good luck!</strong>
      </div>
    </article>
    <hr>
  </div>
  <div class="container is-max-widescreen">
    <h5 class="subtitle is-4"><strong>About the Developer</strong></h5>
    <article class="message is-medium">
      <div class="message-body">
        <strong>Rana Salem</strong> is an IT consultant at <a href="https://www.fdmgroup.com/" target="_blank">FDM Group</a> and a junior software developer at
        <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" target="_blank">Defra (Department for Environment, 
        Food and Rural Affairs)</a>.
      </div>
    </article>
    <div class="buttons is-centered">
      {% for button in buttons %}
      <button class="button">
        <a href="{{ button.url }}" target="_blank">
          <span class="icon is-small">
            <i class="{{ button.icon }}"></i>
          </span>
          <span>{{ button.title }}</span>
        </a>
        {% endfor %}
      </button>
    </div>
  </div>
{% endblock mainContent %}