{% extends 'layout.njk' %}

{% set title = 'Disclaimer' %}

{% block mainContent %}
  <div class="container is-max-tablet">
    <h5 class="subtitle is-4"><strong>Disclaimer</strong></h5>
    <hr>
    <article class="message is-medium">
      <div class="message-body">
        The <a href="https://careerservices.fas.harvard.edu/resources/bullet-point-resume-template/" target="_blank">Harvard College Bullet Point Resume Template</a> 
        used as inspiration for this service is the property of Harvard University's <a href="https://careerservices.fas.harvard.edu/" target="_blank">Mignone Center for Career Success</a>. 
        <strong>I do not</strong> claim ownership of the template and only use it for its intended purpose. <strong>All rights</strong> to the original template are reserved by Harvard University.
        <br><br>
        All information you provide in the form is used solely to generate your CV and <strong>is not</strong> stored, saved, logged, or transmitted to any database or third-party services. 
        Once your CV is generated, your data is immediately discarded and not retained by this service in any form.
      </div>
    </article>
    {# <article class="message is-medium">
      <div class="message-body">

      </div>
    </article> #}
  </div>
{% endblock mainContent %}


