{% extends 'layout.njk' %}

{% set title = 'Issues' %}

{% block mainContent %}
  <div class="container is-max-widescreen">
    <h5 class="subtitle is-4"><strong>Issues</strong></h5>
    <hr>
    <article class="message is-medium">
      <div class="message-body">
        Should you encounter any <strong>issues or bugs</strong> when using this site or have any 
        suggestions for <strong>useful features</strong>, please feel free to open an issue on the 
        GitHub repository linked below.
      </div>
    </article>
    <div class="buttons is-centered">
      <p class="buttons">
        <button class="button is-large">
          <a href="https://github.com/rtasalem/draft-my-cv/issues" target="_blank">
            <span class="icon is-large">
              <i class="fab fa-github"></i>
            </span>
            <span>Draft My CV</span>
          </a>
        </button>
      </p>
    </div>
  </div>
{% endblock mainContent %}