{% extends 'layout.njk' %}

{% block mainContent %}
  <div class="container is-max-tablet">
    <form action="/download" method="POST" style="display: inline;">

      {% include 'partials/submit/personal-information.njk' %}

      {% include 'partials/submit/education.njk' %}

      {% include 'partials/submit/work-experience.njk' %}

      {% include 'partials/submit/projects.njk' %}

      {% include 'partials/submit/interests.njk' %}

      <div class="buttons is-right mt-5 mb-6">
        <button class="button is-success" type="submit">
          <span class="icon">
            <i class="fa-solid fa-check"></i>
          </span>
          <span>Submit</span>
        </button>
      </div>
    </form>
  </div>
{% endblock mainContent %}