{% extends 'layout.njk' %}

{% set sections = [
  'partials/submit/personal-information.njk',
  'partials/submit/education.njk',
  'partials/submit/work-experience.njk',
  'partials/submit/projects.njk',
  'partials/submit/interests.njk'
] %}

{% block mainContent %}
  <div class="container is-max-tablet">
    <form action="/download" method="POST" style="display: inline;">

      {% for section in sections %}
        {% include section %}
      {% endfor %}

      <div class="buttons is-right mt-5 mb-6">
        <button class="button is-success" type="submit">
          <span class="icon">
            <i class="fa-solid fa-check"></i>
          </span>
          <span>Submit</span>
        </button>
      </div>
    </form>
  </div>
{% endblock mainContent %}